.container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    max-width: 1100px;
    grid-template-rows: 1 1 1;
    margin: 5rem;
}

app-memmory {
    max-width: 250px;
    max-height: 250px;
    margin-left: 5%;
    margin-bottom: 5%;
  }